header{
	height:200px;
	background-image:url(media/ozon.jpg);
	background-repeat:repeat-x;
}
@keyframes h1Animation { 				/*Анимация*/
	from {left:-500px;color:hsla(200,100%,50%,0.1); }
	to   {left: 50px ; color:blue;}
}
h1{
	position:relative;
	color:blue;
	font-size:40px;
	text-align:center;
	margin-top:0;
	animation-name:h1Animation; /*Анимация*/
	animation-duration:9s;
}



nav ul li{
	display:inline-block;
	margin-right:50px;
}





/*Вход в игру*/


.color{   /*меняем оформление кнопки*/
	background-color:hsla(200,100%,50%,0.2);
	border:1px solid blue;
}	
.margin{
	margin-left:30px;
}	
.margin:hover{ /*кнопка меняет цвет*/
	color:red;
	transition:1s;
}
fieldset{
	width:350px;
	background-color:hsla(200,100%,50%,0.1);
	border:2px dotted lightblue;
	margin-bottom:40px;
	margin-left:50px;
}	
fieldset:hover{  /*поле для форм меняет цвет*/
	transition:1s;
	background-color:hsla(100,100%,60%,0.1);
	border:2px dotted yellowgreen;
}	
fieldset div{
	margin-bottom:30px;
}
fieldset div input{
	float:right;
	
}
legend{
	color:blue; /*меняем оформление формы*/
	font-weight:bold;
}	
label{
	color:gray;
	font-weight:bold;
}	
.button{				
	background-color:hsla(200,100%,50%,0.2);
	border:1px solid blue;
	text-decoration:none;
	padding:5px;
	margin-left:50px;
}





/*описание игры*/
h2{
	margin-left:50px;
	color:blue;
}
p{
	width:1000px;
	text-align:justify;
	margin-left:50px;
}

ol {
	margin-left:50px;
}
.gray{
	background-color:lightgray;
	
}
.bold{
	font-weight:bold;
}



/*правила игры*/

ul{
	margin-left:50px;
	list-style: square;
}	


/*Галерея*/
#gallery img{
	width:350px;
	height:270px;
	margin-left:50px;
	margin-bottom:30px;
	border:5px solid lightblue;
}



